/* ACCOUNT PAGES
These will need their own specific stylesheet so they don't effect what else is in 1.0.

- Importants here matter to beat out inline helper classes.
*/

@import url("https://use.typekit.net/iwz2cpm.css");

body {
  font-family: 'articulat cf','articulat-cf', sans-serif;
  font-size: .875rem;
  color: #272A31;
  background: #EFF4FC;
  letter-spacing: .03em;
}


/* NAVBAR */
.navbar {
  background: #fff !important;
  min-height: 72px;
  padding: 0 1rem !important;
  position: relative !important;
  box-shadow: 0 1.2rem 1.2rem -.6rem rgba(28,26,100,.125), 0 0 0 1px rgba(28,26,100,.075) !important;
}

.navbar .btn,
.navbar-nav > .nav-item > .nav-link {
  color: #272A31;
  border-radius: .375rem;
  font-size: .75rem;
  letter-spacing: .14em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 9px 12px;
  display: flex;
}

.navbar-nav > .nav-item > .nav-link:hover {
  color: rgba(39,42,49,.7) !important;
  background: rgba(39,42,49,.1) !important;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav > .nav-item {
  padding: 0 12px !important;
}



/* GENERAL */
.btn,
.form-control {
  font-family: 'articulat cf','articulat-cf', sans-serif;
  border-radius: .375rem;
}

.form-control {
  font-size: .875rem;
  letter-spacing: .03em;
}

.jumbotron {
  border-radius: .375rem;
  position: relative;
  z-index: 3;
}

.login input {
  border-radius: .375rem;
}

.login .social-logins .btn-social {
  border-radius: .375rem;
  font-size: .75rem;
  letter-spacing: .14em;
  font-weight: bold;
  text-transform: uppercase;
}

.login .form-col {
  border-radius: .375rem 0 0 .375rem;
}

.gray-light-bg {
  background: #E6EDFB;
}

a, a:hover {
  color: #8280F1;
}

h1, .h1,
h2, .h2,
h3, .h3{
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: .05em;
}

#col-sidebar .list-group .list-group-item:first-child  {
  font-size: inherit;
}

#col-sidebar .list-group .list-group-item {
  color: #272A31;
  border-left: 4px solid transparent;
  font-weight: bold;
  line-height: 1.71em;
}

#col-sidebar .list-group .list-group-item:hover {
  text-decoration: none;
  opacity: .7;
  color: #272A31;
}

#col-sidebar .list-group .list-group-item.active {
  color: #19d2f1;
}

/*GENERAL CARD*/
.card {
  padding: 0 !important;
  border: none;
  border-radius: .375rem;
  color: #272A31;
  box-shadow: 0 1.2rem 1.2rem -.6rem rgba(28,26,100,.125), 0 0 0 1px rgba(28,26,100,.125) !important;
}

.card-body {
  padding: 24px;
}

.card h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.card .list-group-item p {
  font-size: 12px;
  letter-spacing: .05em;
  opacity: .7;
}

.card .list-group-item p:last-child {
  margin-bottom: 0 !important;
}

.card label {
  margin-bottom: 0 !important;
}

.card .control-label {
  margin-bottom: .375rem !important;
}

.page-header {
  margin-top: 12px;
}

.modal-footer .btn,
.card .btn-primary,
#col-main .btn-primary {
  font-size: 12px;
  letter-spacing: .14em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
}

/*SUBSCRIPTIONS*/
.card .text-muted {
  letter-spacing: .05em;
  font-size: 12px;
  color: rgba(39,42,49,.5) !important;
}
.card .text-muted a {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.card h2 {
  margin: .75rem 0 .75rem !important;
}

/* MANAGE DOMAINS */
.mb-5 > p {
  opacity: .7;
}

/* ACCESS TOKENS */
.card .page-description {
  font-weight: 400;
  font-size: 14px;
}

.card .btn-success {
  font-size: 12px;
  letter-spacing: .14em;
  text-transform: uppercase;
  padding: 8px 12px;
}

.card .table thead th {
  letter-spacing: .05em;
  font-size: 12px;
  color: rgba(39,42,49,.5);
}

/*FOOTER*/
.text-center small p  {
  display: flex;
  font-size: 12px;
  letter-spacing: .14em;
  text-transform: uppercase;
  margin: 0;
  justify-content: center;
  display: block;
  font-size: 12px;
  letter-spacing: .14em;
  color: #272A31 !important;
  padding: 27px 12px;
}