/* ACCOUNT PAGES
These will need their own specific stylesheet so they don't effect what else is in 1.0.

- Importants here matter to beat out inline helper classes.
- Swap out image logo in navbar for logo from below: 
<svg class="riddle-logo"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill="#8280F1"><g id="mark-dark"><path d="M47.5171569,19.0095238 L39.8036616,5.73333333 C38.8083719,4.03809524 36.6263906,3.44761905 34.9037737,4.43809524 L21.5439233,12.0952381 C19.8213065,13.0857143 19.2471009,15.2571429 20.2232504,16.952381 L27.9367457,30.2095238 C28.9320354,31.9047619 31.1140167,32.4952381 32.8366336,31.5047619 L46.196484,23.847619 C47.9191009,22.8761905 48.5124466,20.7047619 47.5171569,19.0095238 Z" id="Shape" opacity="0.7"></path><path d="M37.4382056,12.0190476 L26.5282991,1.21904762 C25.1310654,-0.171428571 22.8533832,-0.171428571 21.4561495,1.21904762 L10.546243,12.0190476 C9.14900935,13.4095238 9.14900935,15.6571429 10.546243,17.047619 L21.4561495,27.847619 C22.8533832,29.2380952 25.1310654,29.2380952 26.5282991,27.847619 L37.4382056,17.047619 C38.8354393,15.6571429 38.8354393,13.4095238 37.4382056,12.0190476 Z" id="Shape" opacity="0.5"></path><path d="M26.4708785,12.0761905 L13.111028,4.43809524 C11.3884112,3.46666667 9.20642991,4.03809524 8.21114019,5.73333333 L0.49764486,18.952381 C-0.49764486,20.647619 0.0957009346,22.8190476 1.81831776,23.8095238 L15.1781682,31.447619 C16.900785,32.4190476 19.0827664,31.847619 20.0780561,30.152381 L27.7915514,16.9333333 C28.7677009,15.2190476 28.1934953,13.047619 26.4708785,12.0761905 Z" id="Shape" opacity="0.3"></path></g></g></g></svg>
*/

@import url("https://use.typekit.net/iwz2cpm.css");

body {
  font-family: 'articulat cf','articulat-cf', sans-serif;
  font-size: .875rem;
  color: #272A31;
  background: #EFF4FC;
  letter-spacing: .03em;
}


/* NAVBAR */
.navbar .riddle-logo {
  height: 32px;
  width: 48px;
}

.navbar {
  background: #fff !important;
  min-height: 72px;
  padding: 0 1rem !important;
  position: relative !important;
  box-shadow: 0 1.2rem 1.2rem -.6rem rgba(28,26,100,.125), 0 0 0 1px rgba(28,26,100,.075) !important;
}

.navbar .btn,
.navbar-nav > .nav-item > .nav-link {
  color: #272A31;
  border-radius: .375rem;
  font-size: .75rem;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 9px 12px;
  display: flex;
}

.navbar-nav > .nav-item > .nav-link:hover {
  color: rgba(39,42,49,.7) !important;
  background: rgba(39,42,49,.1) !important;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav > .nav-item {
  padding: 0 8px !important;
}

/* MEGAMENU */
.megamenu .dropdown-toggle {
  font-size: 24px;
  width: 36px;
  height: 36px;
  padding: 0 !important;
}

.navbar-nav > .nav-item.mega-menu {
  padding: .6rem 0;
}


/* GENERAL */
.btn,
.form-control {
  font-family: 'articulat cf','articulat-cf', sans-serif;
  border-radius: .375rem;
}

.form-control {
  font-size: .875rem;
  letter-spacing: .03em;
}

.jumbotron {
  border-radius: .375rem;
  position: relative;
  z-index: 3;
}

.login input {
  border-radius: .375rem;
}

.login .social-logins .btn-social {
  border-radius: .375rem;
  font-size: .75rem;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
}

.login .form-col {
  border-radius: .375rem 0 0 .375rem;
}

.gray-light-bg {
  background: #E6EDFB;
}

a, a:hover {
  color: #8280F1;
}

h1, .h1,
h2, .h2,
h3, .h3{
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: .05em;
}

#col-sidebar .list-group .list-group-item:first-child  {
  font-size: inherit;
}

#col-sidebar .list-group .list-group-item {
  color: #272A31;
  border-left: 4px solid transparent;
  font-weight: bold;
  line-height: 1.71em;
}

#col-sidebar .list-group .list-group-item:hover {
  text-decoration: none;
  opacity: .7;
  color: #272A31;
}

#col-sidebar .list-group .list-group-item.active {
  color: #19d2f1;
}

/*GENERAL CARD*/
.card {
  padding: 0 !important;
  border: none;
  border-radius: .375rem;
  color: #272A31;
  box-shadow: 0 1.2rem 1.2rem -.6rem rgba(28,26,100,.125), 0 0 0 1px rgba(28,26,100,.125) !important;
}

.card-body {
  padding: 24px;
}

.card h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.card .list-group-item p {
  font-size: 12px;
  letter-spacing: .05em;
  opacity: .7;
}

.card .list-group-item p:last-child {
  margin-bottom: 0 !important;
}

.card label {
  margin-bottom: 0 !important;
}

.card .control-label {
  margin-bottom: .375rem !important;
}

.page-header {
  margin-top: 12px;
}

.modal-footer .btn,
.card .btn-primary,
#col-main .btn-primary {
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
}

/*SUBSCRIPTIONS*/
.card .text-muted {
  letter-spacing: .05em;
  font-size: 12px;
  color: rgba(39,42,49,.5) !important;
}
.card .text-muted a {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.card h2 {
  margin: .75rem 0 .75rem !important;
}

/* MANAGE DOMAINS */
.mb-5 > p {
  opacity: .7;
}

/* ACCESS TOKENS */
.card .page-description {
  font-weight: 400;
  font-size: 14px;
}

.card .btn-success {
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 8px 12px;
}

.card .table thead th {
  letter-spacing: .05em;
  font-size: 12px;
  color: rgba(39,42,49,.5);
}

/*FOOTER*/
.text-center small p  {
  display: flex;
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0;
  justify-content: center;
  display: block;
  font-size: 12px;
  letter-spacing: .1em;
  color: #272A31 !important;
  padding: 27px 12px;
}