/*my riddles

- all the !importants can and should be removed. i only have them there for previewing purposes. the [data-v...] selector makes beating that css difficult. i've tried using existing selectors, so removing the !importants should work for the most part. i'm sure there are some exceptions.
- change all font-family values to: 'articulat cf', sans-serif !important
- general size changes: body font size: 14px, button height: 48px, small button height: 36px. the scale everything should be based off is 12px.
- the rem values are based on 10 here instead of 12 like the homepage. changing that base rem value right now is an unneeded breaking change. i've tried to adjust accordingly.

change logo fill everywhere to #8280F1
<svg class="riddle-logo"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill="#8280F1"><g id="mark-dark"><path d="M47.5171569,19.0095238 L39.8036616,5.73333333 C38.8083719,4.03809524 36.6263906,3.44761905 34.9037737,4.43809524 L21.5439233,12.0952381 C19.8213065,13.0857143 19.2471009,15.2571429 20.2232504,16.952381 L27.9367457,30.2095238 C28.9320354,31.9047619 31.1140167,32.4952381 32.8366336,31.5047619 L46.196484,23.847619 C47.9191009,22.8761905 48.5124466,20.7047619 47.5171569,19.0095238 Z" id="Shape" opacity="0.7"></path><path d="M37.4382056,12.0190476 L26.5282991,1.21904762 C25.1310654,-0.171428571 22.8533832,-0.171428571 21.4561495,1.21904762 L10.546243,12.0190476 C9.14900935,13.4095238 9.14900935,15.6571429 10.546243,17.047619 L21.4561495,27.847619 C22.8533832,29.2380952 25.1310654,29.2380952 26.5282991,27.847619 L37.4382056,17.047619 C38.8354393,15.6571429 38.8354393,13.4095238 37.4382056,12.0190476 Z" id="Shape" opacity="0.5"></path><path d="M26.4708785,12.0761905 L13.111028,4.43809524 C11.3884112,3.46666667 9.20642991,4.03809524 8.21114019,5.73333333 L0.49764486,18.952381 C-0.49764486,20.647619 0.0957009346,22.8190476 1.81831776,23.8095238 L15.1781682,31.447619 C16.900785,32.4190476 19.0827664,31.847619 20.0780561,30.152381 L27.7915514,16.9333333 C28.7677009,15.2190476 28.1934953,13.047619 26.4708785,12.0761905 Z" id="Shape" opacity="0.3"></path></g></g></g></svg>
 */

@import url("https://use.typekit.net/iwz2cpm.css");

body {
  background: #E6EDFB !important;
  color: #272A31 !important;
  font-family: 'articulat cf','articulat-cf', sans-serif;
  /*without this the gradient shadow on the navbar causes horizontal scrolling*/
  overflow-x:  hidden !important;
  letter-spacing: .03em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

h1, .h1 {
  font-size: 3.6rem;
}

h2, .h2 {
  font-size: 2.8rem;
}

.btn {
  border-radius: .6rem !important;
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  min-height: 4.8rem !important;
  padding: 1rem 1.8rem;
  text-transform: uppercase !important;
}

.btn.btn-sm {
  font-weight: bold !important;
  letter-spacing: .1em !important;
  min-height: 3.6rem !important;
  padding: 1rem 1.2rem !important;
  text-transform: uppercase !important;
}

.btn-group-sm > .btn, .btn-sm {
  border-radius: .6rem !important;
}

.btn.btn-icon {
  border-radius: 1000px !important;
  color: #272A31 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.btn + .btn {
  margin-left: 1.2rem !important;
}

.btn-primary {
  box-shadow: none !important;
}

.btn-success {
  box-shadow: none !important;
  background: #61D79D !important;
  border-color: #61D79D !important;
}

.btn-check:focus+.btn-success,
.btn-success:focus,
.btn-success:hover {
  background: #61D79D !important;
  border-color: #61D79D !important;
  opacity: .8;
}

.btn-success:active {
  background: #61D79D !important;
  border-color: #61D79D !important;
  opacity: .5;
}

.rid-dropdown {
  border-radius: .6rem !important;
  height: auto !important;
  min-height: 4.8rem !important;
  padding: 1.2rem 4rem 1.2rem 1.2rem !important;
}
.rid-dropdown .rid-icon {
  font-size: 1.8rem !important;
}

.dropdown-item {
  padding: .6rem 1.2rem;
}

.status-badge {
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.alert {
  border-radius: .6rem !important;
}

.tabs .tab {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  height: 4.8rem !important;
  letter-spacing: .1em !important;
  line-height: 4.8rem !important;
}

.tooltip-inner {
  background: rgba(39,42,49,8) !important;
  font-family: inherit !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: .03em !important;
  border-radius: .6rem !important;
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,
.bs-tooltip-top .tooltip-arrow:before {
 border-top-color:rgba(39,42,49,8) !important;
}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,
.bs-tooltip-end .tooltip-arrow:before {
 border-right-color:rgba(39,42,49,8) !important;
}
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,
.bs-tooltip-bottom .tooltip-arrow:before {
 border-bottom-color:rgba(39,42,49,8) !important;
}
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,
.bs-tooltip-start .tooltip-arrow:before {
 border-left-color:rgba(39,42,49,8) !important;

}



/* MAIN PAGE */
.riddle-list-toolbar-wrapper .riddle-list-toolbar .riddle-type-filter .riddle-type-btn,
.riddle-list-toolbar-wrapper .riddle-list-toolbar .filter-dropdown-btn {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  letter-spacing: .1em !important;
  min-height: 2.4rem !important;
}

.riddle-list-toolbar-wrapper .riddle-list-toolbar .search-filter.open .search-btn, 
.riddle-list-toolbar-wrapper .riddle-list-toolbar .search-filter:focus-within .search-btn, 
.riddle-list-toolbar-wrapper .riddle-list-toolbar .search-filter:hover .search-btn {
  right: 0 !important;
}

.card .card-body .card-head .card-title {
  font-family: inherit !important;
  font-weight: 700 !important;
  font-size: 2.4rem !important;
  line-height: 1.2em !important;
}

.card .card-body .card-blocks, .card .card-body .card-date {
  font-family: inherit !important;
}

.card {
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(28,26,100,.2) !important;
  border: none !important;
}

.card:active,
.card:focus,
.card:focus-within,
.card:hover {
  box-shadow: 0 1.2rem 2.4rem rgba(28,26,100,.3) !important;
}

.columns .card {
  border-radius: .6rem !important;
}

.card .card-body .card-head .riddle-type,
.card .card-body .card-head .riddle-status {
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.card .image-wrapper {
  border-radius: .6rem .6rem 0 0 !important;
}

.main-navbar {
  background: #fff !important;
  min-height: 7.2rem;
  padding: 0 1.6rem !important;
  position:  relative !important;
}

.main-navbar:after {
  background: linear-gradient(90deg, #FFE9D9 10%, #DABDFE 45%, #BDF4FE 90%) !important;
  border-radius: 1rem !important;
  bottom: -5rem !important;
  box-shadow: inset 0 -1rem 3rem 3rem #E6EDFB !important;
  content: '' !important;
  display: block !important;
  height: 9rem !important;
  left: -3rem !important;
  opacity: 1 !important;
  pointer-events: none !important;
  position: absolute !important;
  right: -3rem !important;
  z-index: -1 !important;
}

.main-navbar .nav-item {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  letter-spacing: .1em !important;
  padding: 0 1.2rem !important;
  text-transform: uppercase !important;
}

.nav-item.megamenu {
  font-weight: normal !important;
  letter-spacing: .03em !important;
  padding:  .5rem 1rem 0 !important;
  text-transform: none !important;
}

.nav-item.megamenu h6,
.nav-item.megamenu label {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.megamenu .dropdown-toggle {
  height: 3.6rem !important;
  min-height: 3.6rem !important;
  width: 3.6rem !important;
}

.megamenu .image-bg {
  background: none #272A31 !important;
  color: #fff !important;
  padding: 2.2rem !important;
}

.megamenu .image-bg h6{
  color: #19d2f1 !important;
  margin-bottom: 15px !important;
}

.megamenu .image-bg p{
  line-height: 1.75em;
  color: rgba(255,255,255,.7);
}

.megamenu .image-bg strong {
  display: block;
  position: relative;
  color: #fff;
}

.megamenu .image-bg strong:before {
  background: #19d2f1;
  border-radius: .2rem;
  content: '';
  display: inline-block;
  height: .2rem;
  margin-right: .6rem;
  margin-top: -.2rem;
  vertical-align: middle;
  width: .8rem;
}

.dropdown-header {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.dropdown-menu {
  border-radius: .6rem !important;
}

.dropdown .icon-toggle.dropdown-toggle {
  height:  3.6rem !important;
  min-height:  3.6rem !important;
  width:  3.6rem !important;
}

.team-selector .btn {
  color: #272A31 !important;
  font-size: 1.2rem !important;
  text-transform: uppercase !important;
}

.main-navbar .nav-item .nav-link {
  border-radius: .6rem !important;
  border: none !important;
  color: #272A31 !important;
  padding: .9rem 1.2rem !important;
}

.main-navbar .nav-item .nav-link.router-link-active {
  background: #E0F5FB !important;
  border: none !important;
  color: #19d2f1 !important;
}

.megamenu .rid-icon {
  color: #272A31 !important;
}

.megamenu .riddle-links .nav-link,
.megamenu .riddle-links .nav-link:hover,
.megamenu .riddle-links .nav-link:active {
  color: #272A31 !important;
  opacity: .7 !important;
}

.megamenu .riddle-links .nav-link:hover {
  opacity: .4 !important;
}

.megamenu .riddle-links .nav-link:active {
  opacity: .3 !important;
}

.megamenu .nav-link:hover {
  background: transparent !important;
}

.megamenu .riddle-links .nav-link.text-dark {
  color: #272A31 !important;
  opacity: 1 !important;
}

/* remove padding helper classes (px-1, py-1) */
.megamenu .riddle-links .nav-link {
  line-height: 1em !important;
  padding: 1.1rem 0 !important;
}

/* remove icons as it's weird to only have two links with icons.
move log out link under account instead of support. */
.megamenu .nav-link .rid-icon {
  display: none !important;
}

.megamenu .btn.btn-sm {
  padding-left: .8rem !important;
  padding-right: .8rem !important;
}

.megamenu .rid-dropdown {
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  min-height: 3.6rem !important;
  padding: 0.2rem !important;
}





/* CREATE PAGE */

/* commenting this out as a class needs to be added. this should style the text at the top of the create page.*/
.create-page .page-header h2 {
  font-size: 6rem !important;
  letter-spacing: -.05em !important;
  line-height: 1em !important;
  margin-bottom: 2.4rem;
}

.create-page .page-header p {
  font-size: 1.8rem !important;
  line-height: 1em !important;
}


.card .card-title .icon {
  display: inline-block;
  margin-top: -.6rem !important;
}

.card-col .card .card-body .card-title {
  font-weight: bold !important;
  letter-spacing: -.03em !important;
}

.card-col .card .card-body .card-button a,
.card-col .card .card-body .card-button button {
  color: #19d2f1 !important;
}

.card-col .card {
  border-radius: .6rem !important;
}

.card-col .card-text {
  min-height: 6.3rem;
}





/* Creator  */
.creator-content {
  height: calc(100vh - 7.2rem) !important;
}

.creator-edit-sheet-wrapper {
  padding-top: 1.5rem !important;
}

.creator-edit-sheet {
  border-radius: .6rem !important;
}

.sheet-content .btn-delete-result {
  width: 3.6rem !important;
  min-height: 3.6rem !important;
  justify-content: center !important;
  padding: 0 !important;
  right: 6rem !important;
  top: 1.8rem !important;
}

.sheet-content .star:before {
  display: none !important;
}

.star .collapse-toggle:before {
  content: "";
  font-family: RiddleIconFont !important;
  margin-right: .6rem;
}

.section-header .title,
.collapse-toggle {
  font-family: inherit !important;
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  letter-spacing: .05em !important;
  text-transform: none !important;
  color: inherit !important;
}

.section-header .title {
  padding: 2.1rem 2.4rem !important;
}

.side-panel .section-header .title {
  padding: 2.4rem 1.6rem !important;
}

.options-col .section-header .title {
  padding: 2.4rem 1.6rem !important;
}

.section-header .title > .rid-icon {
  margin: -8px 0 .6rem 0 !important;
}

.side-panel .collapse-toggle {
  display: flex !important;
  justify-content: space-between !important;
  padding: 1.2rem 4.8rem 1.2rem 1.6rem !important;
}

.side-panel .collapse-toggle {
  border-radius: 0 !important;
}

.side-panel .btn-primary {
  justify-content: center !important;
  margin-top: 1.6rem !important;
  min-height: 3.6rem !important;
  width: 100% !important;
}

.count-tag {
  align-self: center !important;
  background: rgba(39,42,49,.1) !important;
  border-radius: 100px !important;
  display: inline-block !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  height: 1.8rem !important;
  line-height: 1.8rem !important;
  margin: 0 !important;
  min-width: 3.6rem !important;
  padding: 0 .6rem !important;
  text-align: center !important;
}

.creator-top-bar {
  background: #fff !important;
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(28,26,100,.2) !important;
  height: 7.2rem !important;
  position: relative !important;
  z-index: 2 !important;
}

.creator-top-bar .back-link {
  color: #272A31 !important;
}

.modal-header .creator-top-bar {
  align-items: center;
  box-shadow: none !important;
  display: flex;
  flex-grow: 100;
}

.creator-tabs {
  border: none !important;
  margin: none !important;
}

.creator-tabs li {
  align-items: center !important;
  display: flex !important;
  height:  7.2rem !important;
  padding: 0 1.2rem !important;
}

.creator-tabs .creator-steps-tab {
  border-radius: .6rem;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  height: auto !important;
  letter-spacing: .1em !important;
  line-height: 1em !important;
  padding: 1.2rem !important;
  text-transform: uppercase !important;
}

.modal-header .creator-top-bar .creator-steps-tab {
  margin: 0 1.2rem;
}

.creator-tabs .creator-steps-tab.router-link-active,
.creator-tabs .creator-steps-tab.active {
  background: #E0F5FB !important;
  border: none !important;
  color: #19d2f1 !important;
}

.creator-tabs .creator-steps-tab::before {
  display: none !important;
}

.creator-top-bar .creator-title .btn {
  color: #272A31 !important;
  font-family: inherit !important;
  line-height: 1.2em !important;
  min-height: 0 !important;
  padding: .4rem 3rem .4rem .4rem !important;
}

.creator-top-bar .creator-title .type-wrapper .badge {
  background: transparent !important;
  color: #272A31 !important;
  font-family: inherit !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  letter-spacing: .05em !important;
  margin-top: -.4rem !important;
  margin: 0 .4rem !important;
  opacity: .7 !important;
  padding: 0 !important;
  text-transform: none !important;
}

.creator-title .rid-icon {
  font-size: 1.8rem !important;
}

.profile-menu {
  margin-left: 1.2rem !important;
  margin-right: .6rem;
}

.profile-menu .profile-menu-btn {
  height: 4.8rem;
  line-height: 4.8rem;
  width: 4.8rem;
}

.profile-menu-btn-text {
  height: 3.6rem !important;
  line-height: 3.6rem !important;
  width: 3.6rem !important;
}

.full-width-layout .toolbar.h-100,
.full-width-layout .side-panel {
  height: calc(100% - 1.5rem) !important;
  margin-top: 1.5rem !important;
}

.full-width-layout .toolbar.h-100 {
  background: #272A31 !important;
  border-radius: .6rem 0 0 .6rem !important;
}

.toolbar-btn-wrapper.active .toolbar-btn,
.toolbar-btn-wrapper:not(.prevent-active) .toolbar-btn.router-link-active {
  color: #19d2f1 !important;
  background: rgba(255,255,255,.1) !important;
}

.full-width-layout .side-panel {
  background: #fff !important;
  border-radius: 0 .6rem .6rem 0 !important;
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(28,26,100,.2) !important;
}

.btn-add .text {
  letter-spacing: .1em !important;
}

.btn-add-block {
  border-radius: .6rem !important;
  color: #272A31 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  letter-spacing: .1em !important;
  line-height: 1em !important;
  padding: .6rem .8rem !important;
  text-transform: uppercase !important;
}

.btn-add-block .rid-icon {
  margin-top: 0 !important;
}

.btn-add-block span {
  align-self: center !important;
  display: block !important;
  margin-top: 2px !important;
}

.btn.options-toggle {
  color:  #272A31 !important;
  height: 3.6rem !important;
  justify-content: center !important;
  min-height: 3.6rem !important;
  padding: 0 !important;
  width: 3.6rem !important;
}

.cover {
  border-color: #272A31 !important;
  padding-top: 2.4rem !important;
}

.cover:before {
  background: #272A31 !important;
  border-radius: .5rem .5rem 0 0 !important;
  left: -1px !important;
  letter-spacing: .1em !important;
  right: -1px !important;
  top: -1px !important;
  width: auto !important;
  line-height: 2.4rem !important;
  height: 2.4rem !important;
}

.cover.active {
  border-color: #272A31 !important;
}

.block-card {
  border-radius: .6rem !important;
  border-color: rgba(39,42,49,.2) !important;
  background: rgba(39,42,49,.05) !important;
  transition: background .2s ease-in-out, box-shadow .2s ease-in-out !important;
}

.block-card:hover {
  background: #fff !important;
  box-shadow: 0 .9rem .6rem -.6rem rgba(28,26,100,.2) !important;
}

.block-card.active {
  background: rgba(39,42,49,0) !important;
  box-shadow: 0 .9rem .6rem -.6rem rgba(92,207,237,.6) !important;
  border-color: #19d2f1 !important;
}

.block-card .card-content {
  font-family: inherit !important;
  font-size: 1.4rem !important;
  padding-top: 0 !important;
}

.block-card .block-card-header .id-text {
  font-family: inherit !important;
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  margin-left: 1rem !important;
  opacity: .7 !important;
  text-transform: uppercase !important;
}

.block-card .block-card-header .card-actions .dropdown-toggle,
.dropdown-toggle.only-icon {
  min-height: 0 !important;
}

.block-card-header {
  padding: .5rem !important;
  margin: 0 !important;
}

.block-card .block-card-header .card-actions .dropdown-toggle {
  border-radius: 1000px !important;
}

.form-control {
  border-radius: .6rem !important;
  font-family: inherit !important;
  padding: 1.2rem 1.8rem;
}

@media (min-width: 1200px) {
  .form-control {
    font-size: 1.4rem !important;
  }
}

.form-control-sm {
  font-size: 1.4rem !important;
  letter-spacing: .05em !important;
  min-height: 3.6rem !important;
  padding: .6rem 1.2rem !important;
}

@media (min-width: 1200px) {
  .form-control-sm {
    font-size: 1.4rem !important;
  }
}

.block-editor .block-editor-label,
.rid-text-box label,
.content-field .field-label,
.rid-textbox label {
  color: inherit !important;
  font-family: inherit !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.rid-textbox label p {
  margin: 0;
}

.section-header .info-popup,
.add-button-wrapper .info-popup,
.content-field .field-label .info-popup {
  font-size: 1.8rem !important;
  color: inherit !important;
}

.section-header .info-popup {
  right: 1.6rem !important;
  width: 1.8rem !important;
  top: 2.2rem !important;
}

.content-col .creator-edit-sheet-wrapper .creator-edit-sheet {
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(28,26,100,.2) !important;
}

.content-col .creator-edit-sheet-wrapper .creator-edit-sheet .sheet-content {
  padding: 1.2rem 2.4rem !important;
}

.content-col .creator-edit-sheet-wrapper .creator-edit-sheet .sheet-header {
  font-family: inherit !important;
  color: inherit !important;
}

.content-col .creator-edit-sheet-wrapper .creator-edit-sheet .options-toggle {
  right: 2.4rem !important;
  top: 1.8rem !important;
}

.content-col .creator-edit-sheet-wrapper .creator-edit-sheet .sheet-header p {
  color: inherit !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.sheet-content .collapse-content > p {
  color: rgba(39,42,49,.7);
}

.personality-items-editor,
.poll-items-editor,
.quiz-items-editor {
  margin: 0 !important;
}

.creator-edit-sheet .sheet-header {
  line-height: 4.8rem;
  padding: 1.2rem 2.4rem 0 2.4rem !important;
}

.centered-layout-nav-header {
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.centered-layout-nav-link {
  font-weight: 700 !important;
}

.analyze-navbar .download-button {
  background: transparent !important;
}

.block-add-button {
  margin: 0 !important;
  padding: .6rem 0 !important;
}

.blocks-panel .section-desc {
  display: none !important;
}

.section-header .section-desc {
  color: rgba(39,42,49,.7);
}

.add-button-wrapper .info-popup {
  margin: 0 !important;
}

.block-add-popup {
  border-radius: .6rem;
}

.block-add-popup .col-list.scrollbar {
  margin: 0 !important;
  border-radius: .6rem 0 0 .6rem;
}

.block-add-popup .col-list h5 {
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.block-add-popup h6 {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  letter-spacing: .05em !important;
}

.personality-top-row .answer-tag,
.quiz-top-row .answer-tag,
.poll-top-row .answer-tag {
  background: #272A31 !important;
  font-size: 1rem !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.options-col .options {
  background: #fff !important;
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(28,26,100,.2) !important;
  margin-top: 1.5rem !important;
}

/* this is for the save leads alert in the options sidebar */
.options-col .rid-banner {
  background: #8280F1 !important;
  color: #fff !important;
}

.options-col .rid-banner .btn {
  background: #fff !important;
  border-color: #8280F1 !important;
  color: #8280F1 !important;
}

.options-col .rid-banner .btn:hover,
.options-col .rid-banner .btn:focus {
  background: #fff !important;
  border-color: #8280F1 !important;
  color: #8280F1 !important;
  opacity: .8;
}

.options-col .rid-banner .btn:active {
  background: #fff !important;
  border-color: #8280F1 !important;
  color: #8280F1 !important;
  opacity: .5;
}

.options-col .options .options-info .rid-banner {
  border-radius: 0 !important;
}

.settings-field .field-header .field-label {
  font-size: 1.4rem !important;
  letter-spacing: .03em !important;
  padding-top: 1.6rem !important;
}

.settings-field .field-header .rid-text-box .rid-input {
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.settings-field .field-header,
.settings-field .field-header .rid-dropdown,
.settings-field .field-header .rid-multiselect,
.options-field .options-item .options-header {
  border-radius: 0 !important;
  font-family: inherit !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.settings-field .field-header {
  padding: 0 1.6rem !important;
  min-height: 4.8rem !important;
}

.media-picker-dialog-editor .options-field .options-item .options-header .editor .rid-text-box {
  background: transparent !important;
}

.media-display .actions .delete-btn {
  right: 0 !important;
  width: 3.6rem !important;
  min-height: 3.6rem !important;
  justify-content: center !important;
}

.media-picker-dialog-editor .options-item .options-header .options-label {
  padding-top: 0 !important;
}

.search-button {
  height: 4.8rem !important;
  margin-left: 1.2rem;
}

.options-field .options-item .options-header .editor .rid-text-box .form-control {
  padding: .6rem .7rem !important;
}

.options-field .label {
  letter-spacing: .03em !important;
}

.modal-header {
  font-weight: 700 !important;
  letter-spacing: .03em !important;
  padding: 2.4rem 2.4rem 0 !important;
}

.modal-body {
  padding: 2.4rem !important;
}

.modal-footer {
  padding: 0 2.4rem 2.4rem !important;
}

.modal-body .field-header {
  padding: 0 2.4rem !important;
}

.navigation {
  background: #272A31 !important;
}

.answer-text {
  color: rgba(39,42,49,.7) !important;
}

.totals,
.totals th.totals {
  background: #272A31 !important;
}

.embed-dialog .modal-dialog .modal-content .modal-body .rid-collapse .collapse-toggle .advanced-btn .rid-icon {
  color: inherit;
}

.k-input,
.k-picker,
.k-colorgradient,
.k-coloreditor {
  font-family: inherit !important;
}

.table tbody tr td, .table thead tr th {
  font-family: inherit !important;
}

.items-editor .item-list-actions .btn {
  font-weight: 700 !important;
}

.items-editor .item .item-actions .btn {
  height:  3.6rem !important;
  padding: 0 !important;
  width:  3.6rem !important;
}





/* MEDIA UPLOADER
*/
.media-categories {
  margin-bottom: .2rem !important;
  width: 100% !important;
}

.media-types,
.media-categories {
  background: #272A31 !important;
  border-radius: .8rem;
  gap: .4rem !important;
  justify-content: center !important;
  padding: .4rem !important;
}

.media-categories {
  border-radius: .8rem .8rem 0 0;
}

.media-types {
  background: #484F5F !important;
  border-radius: 0 0 .8rem .8rem;
}

.media-types .nav-link,
.media-categories .creator-steps-tab {
  background: rgba(255,255,255,.1) !important;
  border-radius: .6rem !important;
  color: #fff !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  height: 3.6rem !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
}

.media-categories .creator-steps-tab {
  line-height: 3.6rem !important;
}

.media-categories .creator-steps-tab:before {
  display: none !important;
}

.media-categories .creator-steps-tab.active, 
.media-categories .creator-steps-tab:focus, 
.media-categories .creator-steps-tab:hover,
.media-types .nav-link.active,
.media-types .nav-link:focus,
.media-types .nav-link:hover {
  background: #19d2f1 !important;
  color: #fff !important;
}

.media-types .nav-link .icon {
  height: 1.8rem !important;
  width: 1.8rem !important;
}




/* RICH TEXT EDITOR
i screwed up the smooth transition on the focus state. i tried my best to get it working but failed.
*/
.rich-text-editor .toolbar {
  border-radius: 0 0 .5rem .5rem !important;
  margin-top: 0 !important;
}

.rich-text-editor .form-control {
  border-radius: .6rem !important;
  transition: all .3s ease-in-out;
}

.rich-text-editor .ProseMirror.form-control {
  border-bottom: 1px solid #ccd2de !important;
}

.rich-text-editor.isEditing .ProseMirror.form-control,
.rich-text-editor:focus-within .ProseMirror.form-control {
  border-radius: .6rem .6rem 0 0 !important;
  border-bottom-width: 0 !important;
}

.rich-text-editor .toolbar {
  border-bottom-width: 0 !important;
  margin-top: -1px !important;
  padding: 0 .6rem !important;
}

.rich-text-editor.isEditing .toolbar,
.rich-text-editor:focus-within .toolbar {
  border-bottom-width: 1px !important;
  max-height: 3.6rem !important;
}

.rich-text-editor .toolbar .toolbar-more {
  box-shadow: inset 0 1px #ccd2de !important;
}

.rich-text-editor.isEditing .toolbar .toolbar-more,
.rich-text-editor:focus-within .toolbar .toolbar-more {
  margin: 0 !important;
  max-height: 3.6rem !important;
}

.rich-text-editor.isEditing .toolbar.showToolbarMore,
.rich-text-editor:focus-within .toolbar.showToolbarMore {
  max-height: 7.2rem !important;
}

.rich-text-editor .toolbar .toolbar-btn,
.rich-text-editor .toolbar .dropdown-toggle,
.rich-text-editor .toolbar .toolbar-btn {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  min-height: 3.6rem !important;
}

.white-box .editor label {
  font-family: inherit !important;
  color:  inherit !important;
  font-size: 1.4rem !important;
  letter-spacing: .03em !important;
  font-weight: 400 !important;
}

.score-slider .slider-tooltip {
  background: #272A31 !important;
}

.answer-img .btn-add {
  border-radius: .6rem;
  min-height: 3.6rem !important;
}

.personality-top-row .answer-img,
.quiz-top-row .answer-img,
.poll-top-row .answer-img {
  width: 6.4rem !important;
  height: 3.6rem !important;
}

/*LOGIC PAGE*/
.logic-actions {
  margin-top: 2.4rem !important;
}

.logic-side-panel .section-desc {
  color: rgba(39,42,49,1);
}

.logic-side-panel .key {
  font-family: inherit !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  letter-spacing: .1em !important;
}

.logic-side-panel .white-box {
  margin-bottom: 1.6rem !important;
  box-shadow: none !important;
}

.logic-side-panel .logic-editor {
  font-family: inherit !important;
}

.logic-side-panel .white-box {
  padding: 2.4rem !important;
}

.riddle-logic .logic-wrapper .results-wrapper .divider-icon {
  background: #E6EDFB !important;
}

.logic-block .title {
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.logic-block .top-bar .id {
  font-family: inherit !important;
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  margin-left: 1rem !important;
  opacity: .7 !important;
  text-transform: uppercase !important;
}

.logic-block:hover {
  box-shadow: 0 .9rem .6rem -.6rem rgba(28,26,100,.2) !important;
}

.logic-block.selected {
  border-color: #19d2f1 !important;
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(92,207,237,.6) !important;
}

.logic-side-panel .logic-editor .editor-top {
  margin: 0 0 1.2rem !important;
}

.logic-side-panel .logic-editor .editor-top .id {
  font-family: inherit !important;
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
  opacity: .7 !important;
  text-transform: uppercase !important;
}

.logic-side-panel .logic-editor .editor-content .title {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.logic-block .logic-type {
  font-family: inherit !important;
  font-size: 1rem !important;
  background: #272A31 !important;
  letter-spacing: .1em !important;
  text-transform: uppercase !important;
  line-height: 2.4rem !important;
}

.branch-block p {
  font-size: 1rem !important;
  background: #272A31 !important;
}

.branch-block p .expand {
  background: #505664 !important;
}

.result-block .logic-type {
  background: #272A31 !important;
}

.dopdown-input .tag {
  background: #272A31 !important;
}

.bg-End,
.bg-RiddleScore {
  background: #272A31 !important;
}

.score-value-wrapper {
  border-radius: .6rem !important;
  height: 4.8rem !important;
  padding: 1.2rem 4rem 1.2rem 1.2rem !important;
}

.block-option-item .text {
  font-family: inherit !important;
}

.rid-tab-strip .nav-tabs .nav-link {
  font-size: 1.2rem !important;
  height: 4.8rem !important;
  letter-spacing: .14rem !important;
  line-height: 1.6rem !important;
  color: rgba(39,42,49,.5) !important;
}

.tabs .tab {
  color: rgba(39,42,49,.5) !important;
}

.rid-tab-strip .nav-tabs .nav-link:hover,
.tabs .tab:hover {
  color: rgba(39,42,49,.8) !important;
}

.rid-tab-strip .nav-tabs .nav-link.active,
.tabs .tab.router-link-active,
.tabs .tab:focus {
  color: #272A31 !important;
}

.block-option-item .text {
  font-family: inherit !important;
}

.logic-side-panel .how-to .collapse-toggle .rid-icon {
  top: 1rem !important;
}

.logic-side-panel .white-box .editor label {
  color: inherit !important;
  font-weight: 400 !important;
  letter-spacing: .03em !important;
  font-size: 14px !important;
}

.branches-editor .white-box.error {
  font-family: inherit !important;
}





/*SETTINGS*/
.riddle-settings .collapse-toggle {
  background: #fff !important;
}

.riddle-settings .collapse-toggle:focus,
.riddle-settings .collapse-toggle:hover {
  background: rgba(39,42,49,.1) !important;
}

.settings-field .field-header .rid-dropdown,
.settings-field .field-header .rid-multiselect,
.settings-field .field-header .field-label {
  line-height: 1.8rem !important;
}

.design-side-panel .collapse-toggle,
.design-side-panel .rid-dropdown {
  border-radius: 0 !important;
}

.design-card h2 {
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.team-preset .create-preset-btn.btn {
  color: rgba(39,42,49,1) !important;
}

.team-preset .create-preset-btn.btn[disabled] {
  color: rgba(39,42,49,.3) !important;
}

.settings-item .settings-header {
  font-family: inherit !important;
}

.white-box .settings-field .field-header {
  padding: 0 2.4rem !important;
}





/*PALETTES*/
.options-item .options-header {
  min-height: 4.8rem !important;
}
.options-item .options-header,
.options-item .options-header .rid-dropdown,
.options-item .options-header .rid-multiselect,
.options-item .options-header .rid-text-box .rid-input {
  color:  inherit !important;
  font-family: inherit !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: .03em !important;
}

.options-item .options-header .options-label {
  padding-top: .9rem !important;
}
.palette-item .palette-info .rid-radio .form-check-label {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  letter-spacing: .05em !important;
}




/*LEADS PAGE*/
.total-leads {
  font-weight: 700 !important;
}

.white-box {
  border-radius: .6rem;  
  box-shadow: 0 1.2rem 1.8rem -.6rem rgba(28,26,100,.2) !important;
}

.white-box .white-box {
  box-shadow: none !important;
}




/*OTHER NOTES

- remove svg filter on the "more" options in the text editor (url(#filter-1)). it makes the icons look blurry.
- change tooltip font to articulat
- change tooltip bg color to rgba(39,42,49,.8)
- change "WINNING RESULT" text to "Winning Result"
- change "OTHER RESULT" text to "Other Result"
- change "ANSWER EXPLANATIONS" text in options sidbar to "Answer Explanations"